.swiper-container {
	width: 100%;
	height: 90%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

.swiper-container {
	padding: 11px 32px;
}

.slide-card {
	background: #fff;
	box-shadow: 0 8px 30px -7px #c9dff0;
	margin: 0 20px;
	padding: 9px 33px;
	border-radius: 20px;
	border: 0;
	cursor: grab;
}

.slide-card .slide-card-img-top {
	max-width: 100px;
	border-radius: 50%;
	margin: 15px auto 0;
	box-shadow: 0 8px 20px -4px #95abbb;
	width: 100px;
	height: 100px;
}

.slide-card h5 {
	color: #01b0f8;
	font-size: 21px;
	line-height: 1.3;
}

.slide-card h5 span {
	font-size: 18px;
	color: #666666;
}

.slide-card p {
	font-size: 18px;
	color: #555;
	padding-bottom: 15px;
}
