.heroImg {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
		url("../IMAGES/TheMcuPoster3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.heroImgText {
	text-align: center;
	position: absolute;
	top: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 16px;
}

.introToTheMcu {
	padding: 1.5rem;
}

/*----------------- carousel images -------------*/

.slideshow-container {
	display: grid;
	grid-template-columns: repeat(10, minmax(200px, 1fr));
	grid-gap: 3rem;
	overflow-x: hidden;
}

.slide img {
	width: 15rem;
	height: auto;
	object-fit: cover;
	min-width: 15rem;
	border-radius: 1%;
}

.slide {
	padding: 5px;
}

.text {
	color: grey;
}

.fade {
	position: relative;
	animation: slideLeft infinite;
	animation-duration: 25s;
	animation-delay: 5s;
}

@keyframes slideLeft {
	0% {
		right: 0;
	}

	20% {
		right: 1245px;
	}
	40% {
		right: 1245px;
	}
	80% {
		right: 0;
	}
	100% {
		right: 0;
	}
}
