@media screen and (max-width: 769px) {
	header {
		padding: 0;
	}

	.navButton span {
		display: flex;
		width: 20px;
		height: 2px;
	}

	.screenLogo a {
		display: flex;
	}

	.navigationLinks {
		display: none;
	}

	.hamburgerNav {
		border-left: white solid 1px;
	}

	.screenLogo-NavButton {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/*----------------- footer -------------------*/
	.footerContent {
		flex-direction: column;
		padding: 15px 20px;
	}

	.footerLeft p {
		margin: 8px 0;
	}

	.footerRight {
		flex-direction: column;
	}

	.footerRight ul {
		padding: 0;
	}

	.footerRight ul {
		margin: 0;
	}

	/*------------ hero img ---------*/
	.heroImgText {
		font-size: 15px;
		width: 60%;
	}

	/*----------------- carousel images -------------*/

	.slideshow-container {
		display: grid;
		grid-template-columns: repeat(10, minmax(200px, 1fr));
		grid-gap: 0rem;
		overflow-x: hidden;
	}

	.slide img {
		width: 12rem;
		height: auto;
		object-fit: cover;
		min-width: 12rem;
	}

	.fade {
		position: relative;
		animation: slideLeft infinite;
		animation-duration: 60s;
		animation-delay: 0s;
	}

	@keyframes slideLeft {
		6% {
			right: 0;
		}
		12% {
			right: 200px;
		}
		18% {
			right: 400px;
		}
		24% {
			right: 600px;
		}
		30% {
			right: 800px;
		}
		36% {
			right: 1000px;
		}
		42% {
			right: 1200px;
		}
		48% {
			right: 1280px;
		}
		54% {
			right: 1280px;
		}
		60% {
			right: 1200px;
		}
		66% {
			right: 1000px;
		}
		72% {
			right: 800px;
		}
		78% {
			right: 600px;
		}
		84% {
			right: 400px;
		}
		90% {
			right: 200px;
		}
		100% {
			right: 0px;
		}
	}
}

@media screen and (max-width: 651px) {
	/*------------ hero img ---------*/
	.heroImgText {
		font-size: 11px;
		width: 80%;
	}
}

@media screen and (max-width: 541px) {
	.footerRight ul li {
		display: block;
		padding: 0.6rem;
	}
}

@media screen and (max-width: 426px) {
	/*----------------- carousel images -------------*/

	.slideshow-container {
		display: grid;
		grid-template-columns: repeat(10, minmax(200px, 1fr));
		grid-gap: 0rem;
		overflow-x: hidden;
	}

	.slide img {
		width: 11rem;
		height: auto;
		object-fit: cover;
		min-width: 12rem;
	}

	.fade {
		position: relative;
		animation: slideLeft infinite;
		animation-duration: 60s;
	}

	@keyframes slideLeft {
		10% {
			right: 0;
		}
		20% {
			right: 400px;
		}
		30% {
			right: 800px;
		}
		40% {
			right: 1200px;
		}
		50% {
			right: 1600px;
		}
		60% {
			right: 1600px;
		}
		70% {
			right: 1200px;
		}
		80% {
			right: 800px;
		}
		90% {
			right: 400px;
		}
		100% {
			right: 0;
		}
	}
}

/*------------------- TIMELINE ---------------------*/

@media only screen and (min-width: 769px) {
	.timeline::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		left: 50%;
		transform: translateX(-50%);
		background-color: grey;
	}

	.timeline ul li {
		width: 50%;
		margin-bottom: 50px;
		position: relative;
	}

	.timeline ul li:nth-child(odd) {
		float: left;
		clear: right;
		transform: translateX(-30px);
		border-radius: 15px 0 15px 15px;
	}

	.timeline ul li:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(30px);
		border-radius: 0 15px 15px 15px;
	}

	.timeline ul li::after {
		content: "";
		position: absolute;
		height: 20px;
		width: 20px;
		background-color: grey;
		border-radius: 50%;
		top: 0;
	}

	.timeline ul li:nth-child(odd)::after {
		transform: translate(50%, -50%);
		right: -30px;
	}

	.timeline ul li:nth-child(even)::after {
		transform: translate(-50%, -50%);
		left: -30px;
	}

	.timeline ul li:hover::after {
		background-color: aqua;
	}

	.timelineContent .date {
		position: absolute;
		top: -30px;
	}
}
