@media screen and (max-width: 769px) {
	header {
		padding: 0px 0px !important;
	}

	.navButton span {
		display: flex;
		width: 20px;
		height: 2px;
	}

	.screenLogo a {
		display: flex;
	}

	.navigationLinks {
		display: none;
	}

	.hamburgerNav {
		border-left: white solid 1px;
	}

	.screenLogo-NavButton {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 96%;
		padding: 0px 15px;
	}

	/*----------------- footer -------------------*/
	.footerContent {
		flex-direction: column;
		padding: 15px 20px;
	}

	.footerLeft p {
		margin: 8px 0;
	}

	.footerRight {
		flex-direction: column;
	}

	.footerRight ul {
		padding: 0;
	}

	.footerRight ul {
		margin: 0;
	}

	/*------------ hero img ---------*/
	.heroImgText {
		font-size: 15px;
		width: 60%;
	}

	/*----------------- carousel images -------------*/
}

@media screen and (max-width: 651px) {
	/*------------ hero img ---------*/
	.heroImgText {
		font-size: 11px;
		width: 80%;
	}
}

@media screen and (max-width: 541px) {
	.screenLogo-NavButton {
		width: 95%;
	}

	.footerRight ul li {
		display: block;
		padding: 0.6rem;
	}
}

@media screen and (max-width: 426px) {
	.screenLogo-NavButton {
		width: 93%;
	}

	/*----------------- carousel images -------------*/

	.slideshow-container {
		display: grid;
		grid-template-columns: repeat(10, minmax(200px, 1fr));
		grid-gap: 0rem;
		overflow-x: hidden;
	}

	.slide img {
		width: 11rem;
		height: auto;
		min-width: 3rem;
		border-radius: 2%;
	}

	.fade {
		position: relative;
		animation: slideLeft infinite;
		animation-duration: 25s;
		animation-delay: 2s;
	}

	@keyframes slideLeft {
		10% {
			right: 0;
		}
		20% {
			right: 400px;
		}
		30% {
			right: 800px;
		}
		40% {
			right: 1200px;
		}
		50% {
			right: 1600px;
		}
		60% {
			right: 1600px;
		}
		70% {
			right: 1200px;
		}
		80% {
			right: 800px;
		}
		90% {
			right: 400px;
		}
		100% {
			right: 0;
		}
	}
}
