html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0b0930;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
}

/*------------ Hover i menyn & footer -------------*/

.hoverLine::after {
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	background-color: red;
	transition: 300ms;
}

.hoverLine:hover::after {
	width: 100%;
}

@font-face {
	font-family: "Comics";
	src: url("../FONT/VictoryComics3D-KLXA.otf");
}
